*{
    text-align: center;
    color: black;
    font-family: "Crimson Text", "Times", serif;  
      box-sizing: border-box;

}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}


body {
    background-color: #FFFFFF;
    font-family: "Crimson Text", "Times", serif;
    height: 100%;
    text-align: left;
}

p {
    background-color: #FFFFFF;
    font-family: "Crimson Text", "Times", serif;
    height: 100%;
    text-align: left;
}

.wrapper {
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    display: grid;
}


header {
    text-align: center;
    margin-top: 0px;
}

header hr {
    max-width: 400px;
    border-top: 1px solid;
    border-bottom: none;
    text-align: center;
    margin: auto;
}

header h1 a {
    color: #000000;
    font-family: "Crimson Text", system-ui;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 100px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

header h2 {
    font-family: "Crimson Text", serif;
    padding-bottom: 10px;
    margin-top: -10px;
    font-weight: normal;
    font-size: 30px;
}




header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%
}

header li {
  float: center;
}

header li a {
  display: block;
  font-family: "Amaranth", sans-serif;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  color: #f1c40f;
}

header .active {
  color: #196f3d;
}


main {
    margin: auto;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
    max-width: 1000px;
    padding: 10px
}

main h2 {
    margin-bottom: 10px;
    font-family: "Marcellus", serif;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

main a {
    color: black;
}

main a:hover {
    color: rgb(24, 218, 82);
}

footer {
    text-align: center;
    color: #29272773;
    font-size: 12px;
    margin-bottom: 10px;
}

footer img {
    max-width: 25px;
}

footer ul {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

li a {
    color: black;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    color: rgb(211, 24, 218);
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.responsive {
    max-width: 300px;
    height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
