html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*{
    text-align: left;
    color: black;
    font-family: "Crimson Text", "Times", serif;    
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}


html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: "Crimson Text", "Times", serif;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    text-align: center;
    margin-top: 20px;
}

header h2 {
    font-family: "Crimson Text", serif;
    padding-bottom: 80px;
    margin-top: -20px;
    font-size: 20px;
}

main {
    margin: auto;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
    max-width: 1000px;
    padding: 10px
}

main h2 {
    margin-bottom: 10px;
    font-weight: bold;
}

main a {
    color: black;
}

main a:hover {
    color: rgb(24, 218, 82);
}

footer {
    text-align: center;
    color: #29272773;
    font-size: 12px;
    margin-bottom: 10px;
}

footer img {
    max-width: 25px;
}

footer ul {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.profilepic {
    max-width: 250px;
}

header hr {
    max-width: 400px;
    border-top: 1px solid;
    border-bottom: none;
    text-align: center;
    margin: auto;
}

header h1 a {
    color: #000000;
    font-family: "Crimson Text", system-ui;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 100px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

header li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-bottom: 5px;
}

li a {
    color: black;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    color: rgb(211, 24, 218);
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.responsive {
    max-width: 300px;
    height: auto;
}
